@import "tailwindcss";

@theme {
    --font-header: "Montserrat", serif;
    --font-Poppins: "Poppins", serif;
    --font-display: "Roboto", serif;
    --padding-r: 5rem;
    --breakpoint-ssm: 35rem
    /* @keyframes fade-out {
      0% { opacity: 1; }
      100% { opacity: 0; }
    } */
}

  


body {
  min-height: 100vh;
  background-color: aliceblue;
}

.contain {
  @apply max-w-7xl;
  @apply w-[80%];
}

.active {
    @apply text-green-600
}

@media (max-width: 1024px) {
  :root {
    --padding-r: 3rem;
  }
}