@import "tailwindcss";

@theme {
    --font-header: "Playfair Display SC", serif;
    --font-Poppins: "Poppins", serif;
    --font-display: "Roboto", serif;
    --padding-r: 5rem;
    /* @keyframes fade-out {
      0% { opacity: 1; }
      100% { opacity: 0; }
    } */
}

  


body {
  min-height: 100vh;
  background-color: aliceblue;
}

.active {
    @apply text-green-600
}